form{
    display: flex;
    flex-direction: column;
}
input{
    border-bottom:solid 1rem white;
}

.miniMessage{
    color: red;
}
form input[type="text"] {

    border-bottom:solid 1px white !important;
    
 

}